<section id="hero" class="astro-j7pv25f6">
    <h1 class="astro-j7pv25f6">Object</h1>
    <p>
        ผมชื่นชอบการขีดเขียนการพิมพ์สัมผัสเป็นอย่างมากถึงขนาดวันใดมิได้ทำก็รู้สึกอึดอัดเหมือนใจจะระเบิดออกมา
        เสียให้ได้ ผมพยายามทำเวปไซต์ออกมาหลายครั้งแต่ก็ไม่พอใจ เวปนี้ก็เป็นความพยายามอีกครั้งหนึ่งนั้นเองครับ
    </p>
</section>
<style>
    @media (min-width: 640px){
#hero:where(.astro-j7pv25f6) h1:where(.astro-j7pv25f6) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1;
}}

#hero:where(.astro-j7pv25f6) h1:where(.astro-j7pv25f6) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
    display: inline-block;
}
</style>