{% extends 'base.html' %}
{% block link %}

{% endblock %}
{% block content %}
<style>
    .breadcrumb:where(.astro-ilhxcym7) {
        width: 100%;
        max-width: 48rem;
        margin: 2rem auto .25rem;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .breadcrumb:where(.astro-ilhxcym7) ul:where(.astro-ilhxcym7) li:where(.astro-ilhxcym7) {
        display: inline
    }

    .breadcrumb:where(.astro-ilhxcym7) ul:where(.astro-ilhxcym7) li:where(.astro-ilhxcym7) a:where(.astro-ilhxcym7) {
        text-transform: capitalize;
        opacity: .7
    }

    .breadcrumb:where(.astro-ilhxcym7) ul:where(.astro-ilhxcym7) li:where(.astro-ilhxcym7) span:where(.astro-ilhxcym7) {
        opacity: .7
    }

    .breadcrumb:where(.astro-ilhxcym7) ul:where(.astro-ilhxcym7) li:where(.astro-ilhxcym7):not(:last-child) a:where(.astro-ilhxcym7):hover {
        opacity: 1
    }
</style>
<style>
    #main-content:where(.astro-hsp6otuf) {
        width: 100%;
        max-width: 48rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem
    }

    #main-content:where(.astro-hsp6otuf) h1:where(.astro-hsp6otuf) {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem
    }

    @media (min-width:640px) {
        #main-content:where(.astro-hsp6otuf) h1:where(.astro-hsp6otuf) {
            font-size: 1.875rem;
            line-height: 2.25rem
        }
    }

    #main-content:where(.astro-hsp6otuf) p:where(.astro-hsp6otuf) {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
        font-style: italic
    }

    a:where(.astro-blwjyjpt) {
        text-decoration-line: underline;
        text-decoration-style: dashed;
        position: relative
    }

    a:where(.astro-blwjyjpt):hover {
        --tw-text-opacity: 1;
        color: rgba(var(--color-accent), var(--tw-text-opacity));
        top: -.125rem
    }

    a:where(.astro-blwjyjpt):focus-visible {
        padding: .25rem
    }

    a:where(.astro-blwjyjpt) svg:where(.astro-blwjyjpt) {
        --tw-scale-x: .95;
        --tw-scale-y: .95;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))rotate(var(--tw-rotate))skew(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y));
        --tw-text-opacity: 1;
        color: rgba(var(--color-text-base), var(--tw-text-opacity));
        opacity: .8;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: -1.25rem
    }

    .group:where(.astro-blwjyjpt):hover a:where(.astro-blwjyjpt) svg:where(.astro-blwjyjpt) {
        fill: rgb(var(--color-accent))
    }

    @keyframes astroFadeInOut {
        0% {
            opacity: 1
        }

        to {
            opacity: 0
        }
    }

    @keyframes astroFadeIn {
        0% {
            opacity: 0
        }
    }

    @keyframes astroFadeOut {
        to {
            opacity: 0
        }
    }

    @keyframes astroSlideFromRight {
        0% {
            transform: translate(100%)
        }
    }

    @keyframes astroSlideFromLeft {
        0% {
            transform: translate(-100%)
        }
    }

    @keyframes astroSlideToRight {
        to {
            transform: translate(100%)
        }
    }

    @keyframes astroSlideToLeft {
        to {
            transform: translate(-100%)
        }
    }

    @media (prefers-reduced-motion) {
        ::view-transition-group(*) {
            animation: none !important
        }

        ::view-transition-old(*) {
            animation: none !important
        }

        ::view-transition-new(*) {
            animation: none !important
        }

        [data-astro-transition-scope] {
            animation: none !important
        }
    }

    .pagination-wrapper:where(.astro-d776pwuy) {
        justify-content: center;
        margin-top: auto;
        margin-bottom: 2rem;
        display: flex
    }

    .disabled:where(.astro-d776pwuy) {
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
        opacity: .5
    }

    .disabled:where(.astro-d776pwuy):hover {
        --tw-text-opacity: 1;
        color: rgba(var(--color-text-base), var(--tw-text-opacity))
    }

    .group:where(.astro-d776pwuy):hover .disabled:where(.astro-d776pwuy) {
        fill: rgb(var(--color-text-base))
    }

    .group:where(.astro-d776pwuy):hover .disabled-svg:where(.astro-d776pwuy) {
        fill: rgb(var(--color-text-base)) !important
    }

    .social-icons:where(.astro-wkojbtzc) {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: .25rem;
        display: flex
    }

    @media (min-width:640px) {
        .social-icons:where(.astro-wkojbtzc) {
            align-items: flex-start
        }
    }

    .link-button:where(.astro-wkojbtzc) {
        --tw-scale-x: .9;
        --tw-scale-y: .9;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))rotate(var(--tw-rotate))skew(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y));
        padding: .5rem
    }

    .link-button:where(.astro-wkojbtzc):hover {
        --tw-rotate: 6deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))rotate(var(--tw-rotate))skew(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y))
    }

    @media (min-width:640px) {
        .link-button:where(.astro-wkojbtzc) {
            padding: .25rem
        }
    }

    main:where(.astro-vj4tpspi) {
        width: 100%;
        max-width: 48rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .post-title:where(.astro-vj4tpspi) {
        --tw-text-opacity: 1;
        color: rgba(var(--color-accent), var(--tw-text-opacity));
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem
    }
</style>
<div class="astro-vj4tpspi flex justify-start max-w-3xl mx-auto px-2 w-full"> <button
        class="astro-vj4tpspi flex focus-outline hover:opacity-75 mb-2 mt-8" onclick="history.back()"> <svg
            xmlns="http://www.w3.org/2000/svg" class="astro-vj4tpspi">
            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" class="astro-vj4tpspi">
            </path>
        </svg><span class="astro-vj4tpspi">Go back</span> </button> </div>

<main id="main-content" class="astro-vj4tpspi">
    <h1 class="astro-vj4tpspi post-title" data-astro-transition-scope="astro-plk3gbjq-1">{{c.subject}}</h1>
    <div class="astro-vj4tpspi flex items-center my-2 opacity-80 space-x-2"><svg xmlns="http://www.w3.org/2000/svg"
            class="inline-block fill-skin-base h-6 min-w-[1.375rem] scale-100 w-6" aria-hidden="true">
            <path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path>
            <path
                d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z">
            </path>
        </svg>
        <span class="sr-only">Published:</span><span class="italic text-base">
            <time datetime="2024-01-04T09:30:41.816Z">{{c.timestamp.strftime("%b %d ,%y")}}</time><span
                aria-hidden="true"> | </span><span class="sr-only">&nbsp;at&nbsp;</span><span
                class="text-nowrap">{{c.timestamp.strftime("%I:%m %p")}}</span></span>
    </div>
    <article id="article" role="article" class="astro-vj4tpspi max-w-3xl mx-auto mt-8 prose">
        <p>{{c.content|safe}}</p>
        {% if c.img %}
        <p><img alt="PaperTexts v4" src="url_for('static', filename='images/cover/' + c.img)" width="1920"
                height="1080" decoding="async" fetchpriority="high" srcset="" sizes="100vw"></p>
        {% endif %}
        <p></p>

    </article>
</main>

{% endblock %}