{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/posts.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">

{% endblock %}
{% block content %}

<main id="main-content" class="astro-hsp6otuf">
    <h1 class="astro-hsp6otuf">Posts</h1>
    <p class="astro-hsp6otuf">All the articles I've posted.</p>
    <ul>
        {% for c in contents %}
        <li class="my-6"><a href="{{url_for('content',id=c.id)}}"
                class="inline-block decoration-dashed focus-visible:no-underline focus-visible:underline-offset-0 font-medium text-lg text-skin-accent underline-offset-4">
                <h2 style="view-transition-name:how-to-use-git-hooks-to-set-created-and-modified-dates"
                    class="decoration-dashed font-medium text-lg hover:underline">{{c.subject}}</h2>
            </a>
            <div class="flex items-center opacity-80 space-x-2 undefined"><svg xmlns="http://www.w3.org/2000/svg"
                    class="inline-block fill-skin-base h-6 min-w-[1.375rem] scale-90 w-6" aria-hidden="true">
                    <path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path>
                    <path
                        d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z">
                    </path>
                </svg><span class="italic text-sm">Updated:</span><span class="italic text-sm"><time
                        datetime="2024-01-08T18:59:05.000Z">{{c.timestamp.strftime("%b %d,%Y")}}</time><span aria-hidden="true"> | </span><span
                        class="sr-only">&nbsp;at&nbsp;</span><span class="text-nowrap">{{c.timestamp.strftime("%I %m %p")}}</span></span></div>
            <p>{{c.content |safe|truncate(100)}}</p>
        </li>
        {% endfor %}
    </ul>
</main>

{% endblock %}